<style>
body{
  background-image: url("https://previews.123rf.com/images/atlasfoto/atlasfoto2003/atlasfoto200300580/142050038-inscription-exam-results-and-stationary-on-wooden-background-top-view.jpg");
  background-size: cover;
  background-position: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  animation: fadeIn 3s;
}
</style>


<div class="container">
  <%=form_with url:student_history_path(@student),method: :get do |f|%>
    <div class="row">
      <div class="col-md-4"><br>
        <%=f.number_field :mark ,class:"form-control",placeholder:"Mark less than"%>
      </div>
      <div class="col-md-4"><br>
        <%=f.number_field :mark1 ,class:"form-control",placeholder:"Mark greater than"%>
      </div>
      <div class="col-md-3">
        <%=f.submit "Search",class:"btn btn-secondary m-4"%>
      </div>
    </div>
  <%end%>
</div>

<div class="row dflex justify-content-center align-items-center">
    <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Student: <%= @student.user.name%></h5>
            <h6 class="card-subtitle mb-2 text-muted">Total Tests : <%= @test_histories.count %></h6>
        </div>
    </div>
    <center>
        <div class="row">
            <%@test_histories.each do |history|%>
                <div class="col-md-6">
                    <div class="card m-2" style="width: 30rem;">
                        <div class="card-body">
                            <h5 class="card-title">Test Name: <%= history.test.name%></h5>
                            <h6 class="card-subtitle mb-2 text-muted">Test Taken Corse/topic name in : <%= history.test.testable.name%></h6>
                            <h6 class="card-subtitle mb-2 text-muted">Your Mark: <%=history.mark_scored%>/<%=history.total_mark%></h6>
                            <%= link_to "View", student_test_history_path(@student,history), class: "btn btn-info" %>
                        </div>
                    </div>
                </div>
            <%end%>
        </div>
    </center>
</div>



