<h1 class="text-secondary">List of Courses</h1>

<% @courses.each do |course|%>
    <div class="card m-2" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">Course: <%= course.name%></h5>
            <h6 class="card-subtitle mb-2 text-muted">Instructor: <%= course.instructor.name%></h6>
            <p class="card-text">Category: <%= course.category%></p>
            <%stu = @student.courses.where(id: course.id)%>
            <%if stu.length == 0%>
                <p><%= link_to "Enroll", student_course_enroll_path(@student,course), class: "btn btn-success", style: "width:10rem" %></p>
            <%else%>
                <p><%= link_to "UnEnroll", student_course_unenroll_path(@student,course), data:{
                    turbo_confirm: "Are You Sure?"
                }, class: "btn btn-danger", style: "width:10rem" %></p>
            <%end%>
        </div>
    </div>
<%end%>