<style>
body{
  background-image: url("https://images.pexels.com/photos/4491461/pexels-photo-4491461.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  animation: fadeIn 3s;
}
</style>

<div class="container ">
  <div class="row d-flex justify-content-center align-items-center mx-auto" style="height: 100vh;">
    <div class="col-md-6">
      <div class="card opacity-25">
        <div class="card-body">
           <h2 class="card-title text-center display-1">
            <%= @topic.name %>
          </h2>
          <h4 class="card-subtitle mb-2 text-muted"><%= @topic.course.name%></h4>
          <p class="card-text display-6"><%= @topic.description %></p>
          <% if @topic.notes.blank? %>
              <p class="text-danger text-center m-2">No notes available for this course &#128532;</p>
            <% else %>
              <p class="text-center"><%= @topic.notes.filename %></p>
              <%= link_to url_for(@topic.notes), class: "btn btn-primary w-100 m-2" do %>
                <i class="fas fa-download mr-2"></i> View Notes
              <% end %>
            <% end %>
          <%= link_to "View Test", test_topic_path(@course,@topic), class: "btn btn-info w-100 m-2 text-xl" %>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  *{
    font-family: 'Crimson Text', serif;
  }
</style> 