<%= form_with model: @student do |form|%>
    <div class="input-group m-3" style="width:30rem;">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Student Name: </span>
        </div>
        <%= form.text_field :name, class:"form-control"%>
        <%@student.errors.full_messages_for(:name).each do |message|%>
            <div>
                <p style="color:red;"><%=message%></p>
            </div>
        <%end%>
    </div>
    <div class="input-group m-3" style="width:30rem;">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Student Email: </span>
        </div>
        <%= form.text_field :email, class:"form-control"%>
        <%@student.errors.full_messages_for(:email).each do |message|%>
            <div>
                <p style="color:red;"><%=message%></p>
            </div>
        <%end%>
    </div>
    <div class="input-group m-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Gender: </label>
        </div>
        <%= form.select :gender, ['Male','Female'], class:"custom-select",id:"inputGroupSelect01"%>
    </div>
    <div class="input-group m-3" style="width:30rem;">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Department: </span>
        </div>
        <%= form.text_field :department, class:"form-control"%>
        <%@student.errors.full_messages_for(:department).each do |message|%>
            <div>
                <p style="color:red;"><%=message%></p>
            </div>
        <%end%>
    </div>
    <div class="input-group m-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Year: </label>
        </div>
        <%= form.select :year, ['I', 'II', 'III', 'IV', 'V'], class:"custom-select",id:"inputGroupSelect01"%>
    </div>
    <div>
        <%= form.submit class:"btn btn-primary m-3"%>
    </div>
<%end%>
