<div class="card m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @student.name%></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @student.email%></h6>
    <p class="card-text"><%= @student.year%>, <%= @student.department%></p>
    <%= link_to "Edit", edit_student_path(@student), class:"btn btn-warning" %>
    <%= link_to "Delete", student_path(@student), data:{
        turbo_method: :delete,
        turbo_confirm: "Are You sure?"
    }, class:"btn btn-danger" %>
  </div>
</div>


<% if @student.courses.blank?%>
   <p class="text-danger"><%= @student.name%> is not enrolled in any courses </p>
<%else%>
    <p class="text-secondary">Courses enrolled by <%=@student.name%></p>
    <%@student.courses.each do |course|%>
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><%= course.name%></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= course.instructor.name%></h6>
                <p class="card-text">Category: <%=course.category%></p>
                <%=link_to "View", student_course_course_path(@student,course), class: "btn btn-info"%>
                <%= link_to "UnEnroll", student_course_unenroll_path(@student,course), data:{
                    turbo_confirm: "Are You Sure?"
                }, class: "btn btn-danger" %>
            </div>
        </div>
    <%end%>
<%end%>

<%= link_to "Enroll New Course", student_course_path(@student), class: "btn btn-primary m-3" %>

