<h1><%= @student.name%></h1>
<h3><%= @student.email%></h3>
<h3><%= @student.gender%></h3>
<h3><%= @student.department%></h3>
<h3><%= @student.year%></h3>

<%= link_to "Edit", edit_student_path(@student) %>