<%= form_with model:[@course,@topic] do |form|%>
    <div class="input-group m-3" style="width:30rem;">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Topic Name: </span>
    </div>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <% if @topic.errors[:name].any? %>
    <div class="alert alert-danger m-3">
      <% @topic.errors.full_messages_for(:name).each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="input-group m-3" style="width:30rem;">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Topic Description: </span>
    </div>
    <%= form.text_field :description, class: "form-control" %>
  </div>
  <% if @topic.errors[:description].any? %>
    <div class="alert alert-danger m-3">
      <% @topic.errors.full_messages_for(:description).each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %> 

  <div>
    <%=form.submit class:"btn btn-primary m-3"%>
  </div>

<%end%>

