<div class="d-flex justify-content-center align-items-center mx-auto" style="height: 100vh;">
  <div class="card m-2" style="width: 50rem;">
    <div class="card-body">
      <h2 class="card-title text-center display-1">
        <%= @topic.name %>
      </h2>
      <h4 class="card-subtitle mb-2 text-muted"><%= @topic.course.name%></h4>
      <p class="card-text display-6"><%= @topic.description %></p>
       <% if @topic.notes.blank? %>
          <p class="text-danger text-center m-2">No notes available for this course &#128532;</p>
          <%= link_to "Add new notes", new_topic_notes_path(@course,@topic), class:"btn btn-primary w-100 m-2" %>
        <% else %>
          <p class="text-center"><%= @topic.notes.filename %></p>
          <%= link_to url_for(@topic.notes), class: "btn btn-primary w-100 m-2" do %>
            <i class="fas fa-download mr-2"></i> View Notes
          <% end %>
          <%=link_to "Delete Notes",delete_topic_notes_path(@course,@topic), class:"btn btn-danger w-100 m-2", data:{
            turbo_method: "delete",
            turbo_confirm: "Are You Sure?"
          }%> 
        <% end %>
      <%= link_to "Create Test", test_topic_question_path(@course,@topic), class: "btn btn-primary w-100 m-2 text-xl" %> 
      <%= link_to "View Test", test_topic_path(@course,@topic), class: "btn btn-info w-100 m-2 text-xl" %>
    </div>
  </div>
</div>

<style>
  *{
    font-family: 'Crimson Text', serif;
  }
</style>