<%= form_with model: @instructor do |form| %>
<div>
    <%=form.label :name%>
    <%=form.text_field :name%>
    <%@instructor.errors.full_messages_for(:name).each do |message|%>
            <div>
                <p style="color:red;"><%=message%></p>
            </div>
    <%end%>
</div>
<div>
    <%=form.label :email%>
    <%=form.text_field :email%>
    <%@instructor.errors.full_messages_for(:email).each do |message|%>
            <div>
                <p style="color:red;"><%=message%></p>
            </div>
    <%end%>
</div>
<div>
    <%= form.label :gender%>
    <%= form.select :gender, ['Male','Female']%>   
</div>
<div>
    <%=form.label :designation%>
    <%=form.select :designation, ['Professor', 'Assisstant Professor', 'Associate Professor']%>
</div>
<div>
    <%=form.submit%>
</div>
<% end %>