<div class="card m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @instructor.name%></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @instructor.email%></h6>
    <p class="card-text"><%= @instructor.gender%>, <%= @instructor.designation%></p>
    <%= link_to "Edit", edit_instructor_path(@instructor), class:"btn btn-warning" %>
    <%= link_to "Delete", instructor_path(@instructor), data:{
        turbo_method: :delete,
        turbo_confirm: "Are You sure?"
    }, class:"btn btn-danger" %>
  </div>
</div>



<%if @instructor.courses.blank?%>
    <h3 class="text-danger"> There is no course handled by <%= @instructor.name%> </h3>
<%else%>
    <p class="text-secondary">Courses Handled by <%= @instructor.name%></p>
        <% @instructor.courses.each do |course|%>
            <div class="card m-2" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title"><%=course.name%></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Course Category: <%= course.category%></h6>
                    <%= link_to "View Course" , course_path(course), class: "btn btn-info" %>
                    <%= link_to "Edit Course", edit_instructor_course_path(@instructor,course), class: "btn btn-warning" %>
                    <%= link_to "Delete Course",instructor_course_path(@instructor, course), data:{
                        turbo_method: 'delete',
                        turbo_confirm: 'Are You Sure?'
                    }, class:"btn btn-danger" %>
                </div>
            </div>
        <%end%>
<%end%>

<%= link_to "New Course", new_instructor_course_path(@instructor), class: 'btn btn-primary m-3' %>

