<div class="d-flex justify-content-end align-items-center">
  <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-primary" do %>
    <span>Log Out</span>
  <% end %>

  <%= link_to "New Course", new_instructor_course_path(@instructor), class: "btn btn-success m-3" %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card m-2" style="width: 25rem;">
        <img src="https://www.w3schools.com/howto/img_avatar.png" class="card-img-top" alt="User Icon">
        <div class="card-body text-center">
          <h5 class="card-title"><i class="fas fa-user"></i> <span> <%=@user.name%></span></h5>
          <p class="card-text">
            <i class="fas fa-envelope"></i><span> <%=@user.email%></span><br>
            <i class="fas fa-briefcase"></i><span> <%=@instructor.designation%></span><br>
            <i class="fas fa-venus-mars"></i><span> <%=@user.gender%></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <% if @instructor.courses.blank? %>
        <h3 class="text-danger">There are no courses handled by <%= @user.name %> &#128532;</h3>
      <% else %>
        <p class="text-secondary">Courses Handled by <%= @user.name %></p>
        <div class="row">
          <% @instructor.courses.each do |course| %>
          <div class="col-md-6">
            <div class="card m-2" style="width: 20rem;">
              <h1 class="card-image-top d-flex justify-content-center m-2 display-3"><i class="fas fa-book"></i></h1>
              <div class="card-body text-center">
                <h5 class="card-title"><%= course.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted">Course Category: <%= course.category %></h6>
                <%= link_to "View Course", instructor_course_path(@instructor,course), class: "btn btn-info w-100 m-1" %>
                <%= link_to "Edit Course", edit_instructor_course_path(@instructor, course), class: "btn btn-warning w-100 m-1 text-center" %>
                <%= link_to "Delete Course", instructor_course_path(@instructor, course), data: {
                  turbo_method: 'delete',
                  turbo_confirm: 'Are You Sure?'
                }, class: "btn btn-danger w-100 m-1" %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>