<%= form_with model:  [@instructor, @course] do |form| %>
    <div class="input-group m-3" style="width:30rem;">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Course Name: </span>
        </div>
        <%= form.text_field :name, class:"form-control"%>
        <%@course.errors.full_messages_for(:name).each do |message|%>
            <div>
                <p style="color:red;"><%=message%></p>
            </div>
        <%end%>
    </div>
    <div class="input-group m-3" style="width:30rem;">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Course Category: </span>
        </div>
        <%=form.text_field :category, class:"form-control"%>
        <%@course.errors.full_messages_for(:category).each do |message|%>
            <div>
                <p style="color:red;"><%=message%></p>
            </div>
        <%end%>
    </div>
    <div>
        <%=form.submit class:"btn btn-primary m-3"%>
    </div>
<%end%> 
 