<div class="row d-flex justify-content-center align-items-center mx-auto" style="height: 100vh;">
    <h1 class="display-1 text-center"><%=@course.name%></h1>
    <h5 class="text-muted text-center m-auto">
         <i class="fas fa-user"></i>
        <%=@course.instructor.user.name%>
    </h5>
    <h5 class="text-muted text-center m-1">
        <i class="fas fa-book"></i>
        <%=@course.category%>
    </h5>
    <%= link_to "Create Test", test_course_question_path(@course), class: "btn btn-primary w-25 m-1" %>
    <%= link_to "View Test", test_course_path(@course), class: "btn btn-info w-25 m-1" %>

    <% if @course.students.blank? %>
      <p class="text-danger text-center m-2">No Students Enrolled in this course  &#128532;</p>
    <% else %>
      <p class="text-muted text-center m-2">Students Enrolled in this course</p>
      <ul class="list-group m-2 w-50" style="width: 18rem;">
        <% @course.students.each do |student| %>
          <li class="list-group-item p-2 text-center">
            <i class="fas fa-user"></i> <b><%= student.user.name %></b>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @course.notes.blank? %>
      <p class="text-danger text-center m-2">No notes available for this course &#128532;</p>
      <%= link_to "Add new notes", new_course_notes_path(@instructor,@course), class:"btn btn-primary w-50 m-2" %>
    <% else %>
      <p class="text-center"><%= @course.notes.filename %></p>
      <%= link_to url_for(@course.notes), class: "btn btn-primary w-50" do %>
        <i class="fas fa-download mr-2"></i> View Notes
      <% end %>
      <%=link_to "Delete Notes",delete_course_notes_path(@instructor,@course), class:"btn btn-danger w-50 m-2", data:{
        turbo_method: "delete",
        turbo_confirm: "Are You Sure?"
      }%> 
    <% end %>
    <div class="text-center m-3">
        <div class="d-flex justify-content-center align-items-center">
            <div class="m-2">
                <h5 class="text-muted">Add New Topic:</h5>
            </div>
            <div>
                <%= link_to "Add New Topic", new_course_topic_path(@course), class: "btn btn-primary m-2" %>
            </div>
        </div>
    </div>
    <% if @course.topics.blank? %>
      <p class="text-danger text-center m-2">There are no topics for <%= @course.name %>  &#128532;</p>
    <% else %>
      <p class="text-secondary text-center m-2">Topics in this course are</p>
      <% @course.topics.each do |topic| %>
        <div class="card m-2" style="width: 50rem;">
            <div class="card-body">
                <h2 class="card-title text-center display-1">
                    <%= topic.name %>
                </h2>
                <p class="card-text lead"><%= topic.description %></p>
                <%= link_to "View Topic", course_topic_path(@course, topic), class: "btn btn-info w-100 m-2" %>
                <%= link_to "Edit Topic", edit_course_topic_path(@course, topic), class: "btn btn-warning w-100 m-2" %>
                <%= link_to "Delete Topic", course_topic_path(@course, topic), data: {
                    turbo_method: 'delete',
                    turbo_confirm: 'Are You Sure?'
                }, class: "btn btn-danger w-100 m-2" %>
            </div>
        </div>
      <% end %>
    <% end %>

</div>

<style>
  .card{
    font-family: 'Crimson Text', serif;
  }
</style>