<div class="card m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @course.name%></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @course.instructor.name%></h6>
    <p class="card-text">Category: <%=@course.category%></p>
    <%= link_to "Create Test", test_course_question_path(@course), class: "btn btn-primary" %>
    <%=link_to "View Test", test_course_path(@course), class: "btn btn-info"%>
  </div>
</div>



<%if @course.students.blank?%>
    <p class="text-danger">No Students Enrolled in this course</p>
<%else%>
    <p class= "text-dark">Students Enrolled in this course</p>
    <ul class="list-group m-2" style="width: 18rem;">
        <%@course.students.each do |stu|%>
            <li class="list-group-item p-2 text-center"><b><%= stu.name%></b></li>
        <%end%>
    </ul>
<%end%>

<%if @course.topics.blank?%>
    <p class="text-danger">There is no topic for <%= @course.name%></p>
<%else%>
    <p class= "text-secondary">Topics in this course are</p>
    <%@course.topics.each do |topic|%>
        <div class="card m-2" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title"><%=topic.name%></h5>
                <p class="card-text"><%= topic.description%></p>
                <%= link_to "View Topic" , course_topic_path(@course,topic), class: "btn btn-info" %>
                <%= link_to "Edit Topic", edit_course_topic_path(@course,topic), class: "btn btn-warning" %>
                <%= link_to "Delete Topic",course_topic_path(@course,topic), data:{
                    turbo_method: 'delete',
                    turbo_confirm: 'Are You Sure?'
                }, class:"btn btn-danger" %>
            </div>
        </div>

    <%end%>
<%end%>

<%= link_to "Add New Topic", new_course_topic_path(@course), class: "btn btn-primary m-3" %>