<h1>Course Name: <%= @course.name%></h1>
<h4>Test Name: <%= @test.name%></h4>

<b>Result: <%=@result.mark_scored%>/<%=@result.total_mark%></b>

<% @test.questions.each do |key, value| %>
    <div>
        <ul style="list-style-type:none;">
            <li>Question: <b><%=value['question']%></b></li>
            <li>Answer: <b><%=value['answer']%></b></li>
            <li>Your Answer: <b><%=@result.answers[key]%></b></li>
        </ul>
    </div>
<%end%>

<%= link_to "OK", student_course_course_path(@student,@course)%>