<div class="card m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Topic: <%=@topic.name%></h5>
    <h6 class="card-subtitle mb-2 text-muted">Course: <%=@course.name%></h6>
    <h6 class="card-subtitle mb-2 text-muted">Instructor: <%=@course.instructor.name%></h6>
  </div>
</div>

<%if @topic.tests.blank?%>
    <p class="text-danger">No Tests available for this topic</p>
<%else%>
    <%@topic.tests.each do |test|%>
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><%= test.name%></h5>
                <%= link_to "Take test", student_topic_tests_take_path(@student,@course,@topic,test), class: "btn btn-primary" %>
            </div>
        </div>
    <%end%>
<%end%>

