<div class="card m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @course.name%></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @course.instructor.user.name%></h6>
    <h6 class="card-subtitle mb-2 text-muted"><%= @test.name%></h6>
  </div>
</div>

<%=form_with url:student_course_validate_path(@student,@course,@test) do |f|%>
    <% @test.questions.each.with_index do |value,index| %>
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">

                <div>
                    <%= f.label "Question #{index+1}" %>
                    <b><%=value["question"]%></b>
                </div>
                <div>
                    <%= f.radio_button :"answer_stu[#{index}]", value["options"]['0'] %>
                    <%= f.label value["options"]['0']%>
                </div>
                <div>
                    <%= f.radio_button :"answer_stu[#{index}]", value["options"]['1'] %>
                    <%= f.label value["options"]['1']%>
                </div>
                <div>
                    <%= f.radio_button :"answer_stu[#{index}]", value["options"]['2'] %>
                    <%= f.label value["options"]['2']%>
                </div>
                <div>
                    <%= f.radio_button :"answer_stu[#{index}]", value["options"]['3'] %>
                    <%= f.label value["options"]['3']%>
                </div>
            </div>
        </div> 
    <% end %>
    <div>
        <%=f.submit "Submit Test", class:"btn btn-primary m-3 p-2"%>
    </div>
<%end%>

