<div class="card-body">
    <h3 class="card-title">Create test for the course <%=@course.name%></h3>
</div>

<%= form_with url: test_course_create_path,local: true do |form|%>
    <div>
        <%= form.hidden_field :id, values: @course.id%>
        <div class="input-group m-3" style="width:30rem;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Test Name</span>
            </div>
            <%= form.text_field :name, class:"form-control", required:true%>
        </div>
        <div id="question-container">
            <div class="card m-2" style="width: 50rem;">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Question 1: </span>
                        </div>
                        <input type="text" name="test[question][0]" required class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Option 1:</span>
                        </div>
                        <input type="text" name="test[option][0][0]" required class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Option 2:</span>
                        </div>
                        <input type="text" name="test[option][0][1]" required class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Option 3:</span>
                        </div>
                        <input type="text" name="test[option][0][2]" required class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Option 4:</span>
                        </div>
                        <input type="text" name="test[option][0][3]" required class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Answer(Options): </label>
                        </div>
                        <select name="test[answer][0]" class="custom-select" id="inputGroupSelect01">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Mark: </label>
                        </div>
                        <select name="test[mark][0]" class="custom-select" id="inputGroupSelect01">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <button id="add-more-button" class="btn btn-primary">Add More</button>
        <%= form.submit "Create Test", class: "btn btn-primary m-3"%>
    </div>
<%end%>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    var questionCounter = 1; // Keeps track of the number of questions added

    $('#add-more-button').click(function() {
      var newQuestion = `
        <div class="card m-2" style="width: 50rem;">
          <div class="card-body">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Question ${questionCounter+1}: </span>
              </div>
              <input type="text" name="test[question][${questionCounter}]" required class="form-control">
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Option 1:</span>
              </div>
              <input type="text" name="test[option][${questionCounter}][0]" required class="form-control">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Option 2:</span>
              </div>
              <input type="text" name="test[option][${questionCounter}][1]" required class="form-control">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Option 3:</span>
              </div>
              <input type="text" name="test[option][${questionCounter}][2]" required class="form-control">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Option 4:</span>
              </div>
              <input type="text" name="test[option][${questionCounter}][3]" required class="form-control">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Answer(Options): </label>
              </div>
              <select name="test[answer][${questionCounter}]" class="custom-select" id="inputGroupSelect01">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Mark: </label>
              </div>
              <select name="test[mark][${questionCounter}]" class="custom-select" id="inputGroupSelect01">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
        </div>
      `;
      $('#question-container').append(newQuestion);
      questionCounter++;
    });
  });
</script>






 




