<div  class="row d-flex justify-content-center align-items-center">
    <h1 class="display-4 text-center">Tests in the Course <%=@course.name%></h1>
    <div class="text-center m-3">
        <div class="d-flex justify-content-center align-items-center">
            <div class="m-2">
                <h5 class="text-muted">Add New Test:</h5>
            </div>
            <div>
                <%= link_to "Create Test", test_course_question_path(@course), class: "btn btn-primary m-2 " %>
            </div>
        </div>
    </div>
    <%if @tests.blank?%>
    <p class="text-danger text-center">There is No tests in this Course <%=@course.name%>  &#128532;</p>
    <%else%>
        <%@tests.each do|test|%>
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title"><%= test.name%></h2>
                    <h4 class="card-subtitle mb-2 text-muted"><%= test.testable_type%></h4>
                    <h4 class="card-subtitle mb-2 text-muted"><%=test.created_at.to_s.split(" ")[0]%></h4>
                    <%= link_to "View", test_course_edit_path(@course,test), class: "btn btn-info w-100 mb-2" %>
                    <%= link_to "Delete", test_course_delete_path(@course,test), data:{
                        turbo_method: "delete",
                        turbo_confirm: "Are You Sure"
                    }, class: "btn btn-danger w-100" %>
                </div>
            </div>
        <%end%>
    <%end%>
</div>


<style>
  .card, .display-4{
    font-family: 'Crimson Text', serif;
  }
</style>






